{% extends "main/base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
{% load static %}

<!-- !PAGE CONTENT! -->

{% include "includes/sidebar.html" %}
 
<div class="w3-main" style="margin-left: 250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top: 83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">Новинки</p>
        <p class="w3-right">
            <i class="fa fa-shopping-cart w3-margin-right"></i>
            <i class="fa fa-sign-in"></i>
        </p>
    </header>

    <!-- Image header -->

    <div class="w3-container" id="">
        <div class="w3-panel w3-border-left w3-pale-red w3-border-red">
            <p>Всего {{ products.count }}</p>
        </div>
    </div>

    <!-- Product grid -->
    
    <div class="w3-row">
        {% for product in products %}
        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="{{ product.image.url }}" style="width: 100%"/>
                <p class="w3-center">
                <b>{{ product.name }}</b></br>
                <b>{{ product.price }} рублей</b>
                <a href="{{ product.get_absolute_url }}" class="w3-button w3-block w3-black">Подробнее</a>
                </p>
                
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- End page content -->
</div>
{% endblock %}
