{% extends "main/base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
{% load static %}

<!-- !PAGE CONTENT! -->

{% include "includes/sidebar.html" %}
 
<div class="w3-main" style="margin-left: 250px">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top: 83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-left">{{ category.name }}</p>
        <p class="w3-right">
            <a href="{% url 'cart:cart_detail' %}" class="w3-margin-right" style="text-decoration: none">
                <i class="fa fa-shopping-cart"></i>
            </a>
            <a href="#" class="w3-margin-right" style="text-decoration: none">
                <i class="fa fa-sign-in"></i>
            </a>
        </p>
    </header>

    <!-- Image header -->

    <div class="w3-container">
        <div class="w3-panel w3-leftbar w3-pale-blue w3-border-blue">
            <p>Всего {{ products.count }}</p>
        </div>
    </div>

    <!-- Product grid -->
    
    <div class="w3-row">
        {% for product in products %}
        <div class="w3-col l3 s6">
            <div class="w3-container" style="min-height: 400px">
                <img src="{{ product.image.url }}" style="max-height: 140px"/>
                <p class="w3-center">
                <b>{{ product.name }}</b></br>
                <b>{{ product.price }} рублей</b>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                <button class="w3-btn w3-black w3-input">В корзину</button>
                {% csrf_token %}
                </form><br>
                <form action="{% url 'main:product_detail' product.category.slug product.slug %}" method="post">
                <button class="w3-btn w3-blue w3-input">Подробнее</button>
                {% csrf_token %}
                </form>
                </p>                
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- End page content -->
</div>
{% endblock %}
